@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

:root{
    --mainFont: 'Nunito Sans'
}

*{
    box-sizing: border-box;
}

body, html {
    margin: auto;
    padding: 0;
    height: auto;
}

#content {
    max-width: auto;
    margin: 0 auto;
    padding: 0 auto;
}

#banner{
    display: block;
    background-color: #000000;
    padding: 1rem;
    transition: all .5s;
    color: white;
}

.banner-fixed {
    display: block;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1; 
    width: 100%;
}

.banner-fixed .close i{
    position: relative;
    left: -32px;
}

.banner-fixed #prompt{
    font-size: 35px;
    transition: all 2s;
}

#prompt{
    margin: 2rem;
    display: inline;
    font-family: 'Belanosima';
    font-size:  30px;
    transition: all 2s ease-in-out;
}

.close{
    margin: 0 10rem 0 0;
}

.close i{
    font-size: 30px;
    cursor: pointer;
    float: right;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0, 0.98); 
    /* overflow-x: hidden; */
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 40px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

#message{
    font-size: 2rem;
    color: white;
}

.heroBtn a{
    display: inline-block;
    border-radius: 30px;
    background-color: #e1eced;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    font-family: "Roboto";
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.heroBtn a:hover{
    background-color: #417273;
    color: white;
}

.closebtn {
    position: relative;
    display: block;
    text-align: center;
    left: 25%;
    background-color: transparent;
    color: white;
}

.closebtn i{
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------*/

header {
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #000000;
}

.logo1{
    position: relative;
    width: auto;
    height: 100px;
}

nav{
    background-color: #A8DADC;
}

.delete{
    display: none;
}

/*-----------------------------------------------------------------------------------------------*/


#menu::before {
    content: "\f0c9";
    font-family: 'Font Awesome 6 Free';
    color: black;
    font-size: 25px;
    font-weight: 900; /*always use this after using font awesome unicodes */
    cursor: pointer;
}

.navigation{
    list-style: none;
    margin: auto;
    padding: 0;
}

.navigation li {
	display: none;
}

.navigation li *{
    padding: 5px 3px;
}

.navigation a{
    place-items: center;
    display: block;
    text-decoration: none;
    font-family: 'Belanosima', Times, serif;
    font-weight: lighter;
    transition: 0.5s;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.navigation li i{
    font-size: 23px;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/

main{
    height: auto;
}

#first-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2px auto;
    margin: auto;
}

#weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#line {
    grid-row: 2/3;
    display: block;
    place-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 0rem auto;
    border-bottom: rgba(107, 107, 107, 0.3) 1px solid;
}

.map{
    width: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map iframe{
    width: 100%;
    height: 300px;
    margin: 2rem 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #3e3d3d;
}

.windchill{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.firstContainer{
    width: 100%;
    padding: 8px 0;
    margin: 2rem 0;
    border-left: rgb(255, 55, 0, .5) 1px solid;
    font-family: var(--mainFont);
}

.windchill *{
    margin: 0;
}

.weatherTemp{
    display: flex;
    align-items: center;
}

.weatherTemp, 
.weatherMain,
.windchill h2{
    margin-left: 1.5rem;
}

.windchill h2, .windchill h1{
    font-weight: 800;
}

.weatherMain p{
    font-weight: 600;
    margin-bottom: 5px;
}

.moreInfo{
    font-size: 13px;
}

#forecast-container{
    grid-row: 3/4;
    margin: 1.7rem 2rem ;
}

.forecastContainer{
    width: 50%;
    box-shadow: 1px 1px 5px #999;
    padding: 1rem;
    border-radius: 5px;
}

.forecastContainer *{
    margin: 7px 0;
    font-family: var(--mainFont);
}

.fcDiv {
    display: flex;
    align-items: center;;
}

.forecastContainer p{
    font-weight: 600;
}

.fcDiv h1{
    font-weight: 800;
}

.forecastSection *{
    margin: 0;
}

.forecastSection{
    border-left: rgb(255, 55, 0, .5) 1px solid;
    padding: 0 1rem;
}


#backToTop {
    display: grid;
    place-items: center;
    height: 60px;
    width: 100%;
    background-color: #0a4d74;
}

#backToTop button{
    display: block;
    place-items: center;
    transition: transform 3s;
    background-color: #0a4d74; 
    height: 60px;
    width: 100%;
    font-family: "Belanosima", serif, Arial;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: top 0.3s;
    color: #ffffff;
    border: none;
}

#backToTop button:hover{
    background-color: #08466a;
}

.accordion::after {
    content: "\25B4";/* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: #F1FAEE;
    margin-left: 2px;
}

.accordion:hover{
    cursor: pointer;
}

/*-------------------------------------RESERVATIONS-------------------------------------------*/


/*-------------------------------------SLIDESHOWS---------------------------------------------*/

#black-background-second-container{
    padding: 5rem 0;
    background-color: black;
}

#second-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: auto;
}

.slideshow-container {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img{
    border-radius: 10px;
    object-fit: cover;    
}

/* .mySlides img:hover{
    scale: 1.1;
} */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 20px 0px 0;
    user-select: none;
    background-color: rgba(186, 186, 186, 0.8);
}

.next {
    color: black;
    right: 0;
    padding: .64rem 1rem;
    border-radius: 50%;
}

.prev{
    color: black;
    padding: .64rem 1rem;
    border-radius: 50%;
    left: 0;
}

.prev:hover, .next:hover {
    color: white;
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
  .active-dot, .dot:hover {
    background-color: #A8DADC;
}
  
/* Fading animation */
.fade {
    animation: fade 10s infinite;
}
  
@keyframes fade {
0% {opacity: 0}
50% {opacity: 1}
100%{opacity: 0}
}

.article-container{
    grid-column: 2/3;
    grid-row: 1/2;
    /* justify-self: center; */
    align-self: center;
}

.article-container article{
    display:block;
    font-family: "Roboto";
    color: #F1FAEE;
    position: relative;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.article-container article h1{
    margin: auto;
    padding: 0;
    animation: switch 5s infinite linear;
}

.article-container article p{
    width: 100%;
    animation: switch 2s infinite;
}

@keyframes switch {
    0%{
        scale: 1;
    }

    50%{
        scale: 1.04;
    }
}

#white-background-third-container{
    padding: 5rem 0;
    background-color: white;
}

#third-section{
    display: flex;
    flex-direction: column;
    font-family: "Roboto";  
}

.homepage-scooters-row{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.homepage-scooters-column {
    flex: 33.3%;
    max-width: 50%;
    padding: 1rem;
}

.images-container{
    box-shadow: 1px 1px 5px black;
    vertical-align: middle;
    overflow: hidden;
    margin: 2rem 0;
    position: relative;
}

.homepage-scooters-column img{
    object-fit: contain;
    width: 100%;
    min-height: 400px;
    z-index: -1000;
    transition: transform 1s ease-in-out;
}

.homepage-scooters-column img:hover{
    transform: scale(1.1);
}

.img-text-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, .8);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.images-container:hover .img-text-overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.text *{
    margin: 30px;
}

.text {
    font-family: "Dosis",sans-serif;
    color: white;
    text-align: left;
}

.info-button {
    position: relative; 
    float: right;
    font-size: 30px;
    color: black;
    border-radius: 50%; 
    text-decoration: none;
    z-index: 1000;
    cursor: pointer;
    margin: 1rem 1rem 0 0;
    transition: 0.8s ease-in-out;
}

.info-button:hover{
    transform: scale(1.2);
}

.remove-info {
    display: none;
}

.close-info-button{
    display: none;
}

.show-remove-button{
    display: inline;
    position: relative;
    float: right;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 1rem 1rem 0 0;
    text-decoration: none;
    z-index: 1000;
    cursor: pointer;
    transition: 0.8s ease-in-out;       
}

.show-remove-button:hover{
    transform: scale(1.2);
}




/*-----------------------------------------------------------------------------------------------------*/

#backToTop-res {
    position: absolute;
    background-color: none;
    height: 60px;
    width: 100%;
    text-align: right;
}

#backToTop-res button{
    background-color: black;
    border-radius: 50%;
    bottom: 10px;
}

#backToTop-res .accordion::after {
    content: "\25B4";/* Unicode character for "plus" sign (+) */
    font-size: 40px;
    color: #F1FAEE;
    margin: 0;
}


/*-------------------------------------------------------------------------------------------------------*/

footer{
    place-items: center;
    box-sizing: border-box;
    display: grid;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

#diagonal-back{
	bottom: 0;
	width: 100%;
	padding: 8px;
    background-color: #072537;

}

@media screen and (max-width: 640px) {

    #menu{
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;   
        padding: 10px; 
        border-radius: 2px;
    }

    .navigation li {
        display: block;
    }

    nav{
        display: flex;
        flex-direction: column;
        height: 0;
        width: 100%;
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        background-color: rgb(0,0,0); 
        overflow: hidden;
        transition: 0.5s; /
    }

    .navigation{
        position: relative;
        bottom: 150px;
    }

    .navigation li a{
        margin: 2rem;
        color: white;
    }
    
    .delete{
        position: relative;
        display: block;
        color: white;
    }

    .delete i{
        cursor: pointer;
        float: right;
        margin: 1rem 2rem 0 0;
    }
}