/* //////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 1000px){

    #menu{
        display: none;
    }

    /* nav{
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    } */
    
    .navigation{
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
    }

    .navigation a{
        padding: 1rem 2.5rem;
        font-size: 1.2rem;
    }

    .navigation li{
        display: block;
    }

    .navigation a {
        border-bottom: 2px solid transparent; /*Initially transparent*/
        transition: border-bottom 0.7s ease;
    }
    
    .navigation li:hover {
        transition: all 1s;
        background-color: #74b8ba;
    }
    
    .active{
        transition: 1s;
        background-color: black;
        color: white !important;
    }

    #first-section{
        width: 70%;
    }

    .forecastContainer{
        width: 40%;
    }

    /*-----------------------------------------RESERVATION-----------------------------------------------*/

    .spacer {
        margin: 10rem 0 0 15rem;
    }

    .spacer p{
        padding-right: 10 1rem;
    }

    .black{
        width: 20%;
        background-color: #000000;
        z-index: -1;
    }

    .red{
        width: 20%;
        background-color: #b1343e;
        z-index: -1;
    }

    .benefits-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }

    .benefits-text ul{
        margin: 2rem 0;
        left: 3rem;
    }

    .benefits-text li{
        font-size: 1.125rem;
    }

    .fade-in{
        font-size: 20px;
    }

    
    textarea{
        width: 350px;
    }
}
