@media screen and (min-width: 640px) and (max-width: 1000px) {

    *{
        box-sizing: border-box;
    }


    .closebtn1 {
        position: relative;
        display: block;
        text-align: center;
        left: 15%;
        background-color: transparent;
        color: white;
    }
    
    .closebtn1 i{
        cursor: pointer;
        font-size: 2rem;
        font-weight: 900;
    }

    header{
        padding: 0 5% 0 3%;
    }

    header h1{
        font-size: 1.7rem;
        right: 0;
    }

    .logo1{
        border-radius: 50%;
        width: 70px; height: 70px;
    }

    #menu, span.delete{
        display: none;
    }

    #nav{
        display: block;
    }

    .navigation {
        position: relative;
        left: 20px;
        width: 100%;
        display: flex;
        gap: 16px;
    }

    .navigation a{
        padding: 8px 12px;
        font-size: 15px;
    }

    .navigation li{
        display: block;
    }

    #main-hero-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #A8DADC;
        height: 500px;
    }

    .hero-image-container{
        grid-column: 1/3;
        grid-row: 1/3;
        /* z-index: 2; */
    }

    #hero-box img {
        display: none;
    }

    .hero-caption{
        text-align: center;
        grid-column: 1/3;
        grid-row: 2/5;
        /* z-index: 5555555; */
    }

    .hero-caption h1{
        font-family: "Roboto";
        font-weight: 1000;
        font-size: 40px;
        opacity: 0;
        animation: fade-in 3s forwards linear;
    }

    .explore{
        font-size: 80px;
    }
    
    @keyframes fade-in {
        to {
            opacity:1;
        }
    }

    #forecast-container{
        margin: 4rem 0 2rem 2rem;
    }

    #black-background-second-container{
        display: block;
        margin:2rem auto;
        padding: 0;
    }

    #second-section{
        display: flex;
        flex-direction: column;
    }

    .slideshow-container{
        display: block;
    }
    
    .slideshow-container{
        text-align: center;
        width: 100%;
    }

    .mySlides img{
        margin: 3rem 0;
        width: 90%;
        border-radius: 3px;
        object-fit: cover;    
    }

    .article-container{
        text-align: center;
        margin: 2rem auto;
    }

    .article-container article h2{
        margin: auto 1.5rem;
        padding: 0;
        font-size: 70px;
        animation: switch 5s infinite linear;
    }

    .article-container article p{
        font-size: 30px;
        width: 80%;
        animation: switch 2s infinite;
    }

    #third-section article{
        margin: auto;
        width: 90%;
        text-align: center;
    }

    #third-section article h2{
        margin: 0;
        font-size: 34px;
        font-weight: 800;
    }

    #third-section article h3{
        font-size: 20px;
        font-weight: 600;
    }

    #white-background-third-container{
        padding: 0;
    }

    .homepage-scooters-row{
        width: 100%;
    }

    .homepage-scooters-column {
        flex: 50%;
        max-width: 50%;
        padding: 1rem;
    }

    .homepage-scooters-column:last-of-type{
        display: flex;
        flex: 100%;
        max-width: 100%;
        margin: 1rem;
    }
    
    .images-container{
        box-shadow: 1px 1px 5px black;
        overflow: hidden;
        height: 400px;
        margin: 2rem 0;
        position: relative;
    }

    .images-container img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        justify-self: center;
    }

    .text *{
        margin: auto 30px;
    }

    .text h2{
        font-size: 40px;
        font-weight: 700;
    }

    .text h3{
        font-size: 30px;
        font-weight: 400;
    }
    
    .text ul{
        padding: 0;
    }

    .text ul li{
        font-weight: 200;
        margin: 10px;
    }
    /*-----------------------------------------RESERVATION-----------------------------------------------*/

    .spacer {
        grid-column: 1/3;
        width: 70%;
        margin: 9rem 0 0 5rem;
    }

    .spacer p{
        font-size: 18px;
    }

    .spacer h1{
        font-family: "Roboto";
        font-weight: 900;
        font-size: 60px;
        line-height: 1.2;
        text-align: left;;
        position: relative;
        transform: translateX(-100%);
        animation: slideRight 2s forwards linear;
    }

    .h1-scoots{
        padding: 6px;
        background-color: #000000;
        color: white;
        border-radius: 10px;
    }

    .red{
        display: none;
    }

    .black{
        width: 20%;
        background-color: #000000;
    }

    .benefits-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }

    .benefits-text li{
        font-size: 1.125rem;
    }

    .benefits-text ul{
        margin: 2rem 0;
    }
    
    #regForm{
        display: block;
        margin: 5rem auto;
        width: 80%;
    }

    .tab label{
        width: 80%;
        padding: 1rem 0;
        font-size: 15px;
    }

    .last-next-button{
        width: 100%;
        padding: 1rem 3rem;
        font-size: 1rem;
        margin-bottom:40px;
    }
    
    #submit, #nextBtn{
        margin-right: .5rem;
        font-size: 15px;
    }

    .last-next-button #prevBtn, #prevBtn{
        font-size: 15px;
        margin-left: .5rem;
    }

    /*////////////////////////////////////////////////*/

    #contact-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact-main-hero-box{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
    }

    #contact-hero-box,
    .contact-hero-image-container{
        display: none;
    }

    .contact-hero-caption{
        justify-self: center;
        align-items: center;
        margin: 15rem 0 5rem 0 ;
    }

    .contact-hero-caption h1{
        font-size: 70px;
        padding: 0 2rem;
    }

    .contact-hero-caption p{
        font-size: 30px;
    }

    #contact-main-first-section {
        margin: 5rem 0;
    }

    #contact-map-section{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second-map{
        border-left: none;
    }
    
    .first-map iframe{
        margin: 0 0 1rem 0;
        width: 100%;
        height: 400px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #3e3d3d;
    }
    
    .second-map iframe{
        margin: 1rem 0 0 0;
        width: 100%;
        height: 400px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #3e3d3d;
    }


    #contact-main-second-section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 4rem;
    }

    #contact-form-section{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact-section-caption{
        margin: 0 0 2rem 0;
    }

    .contact-caption h2{
        font-size: 70px;
    }

    .contact-caption p{
        font-size: 20px;
        margin: 0;
    }
    
    .contact-caption-scoots{
        font-size: 22px;
    }

    /*------------------------------------/////////////////*/

    #rental-main-hero-box{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
    }

    #rental-hero-box,
    .rental-hero-image-container{
        display: none;
    }

    .rental-hero-caption{
        margin: 13rem 0 9rem 0 ;
    }

    .rental-hero-caption h1{
        font-size: 80px;
        padding: 0 2rem;
    }
    
    #rental-main table {
        width: 85%;
        border-radius: 13px;
    }

    /*////////////////////////////////////////*/

    #footer-links{
        width: 100%;
    }

    .links-container{
        width: auto;
    }

    .links-container a{
        width: 100%;
        text-align: left;
    }

    #diagonal-back{
        display: flex;
        gap: 30px;
        height: auto;
        flex-direction: column;
    }

    #logo-link2{
        margin: 2rem 0 4rem 0;
    }

    .links-container{
        margin: 2rem 0;
    }

    .links-container a{
        text-align: center;
        text-decoration:underline;
    }

    .information-container{
        margin: 2rem 0;
    }

    .social-links{
        margin-top: 45px;
    }

}