@media screen and (min-width: 640px) and (max-width: 1000px) {

    .closebtn {
        position: relative;
        display: block;
        text-align: center;
        left: 15%;
        background-color: transparent;
        color: white;
    }
    
    .closebtn i{
        cursor: pointer;
        font-size: 2rem;
        font-weight: 900;
    }

    header h1{
        font-size: 2rem;
        padding: .5rem;
    }

 
    nav {
        width: 100%;
        display: block;
    }


    #menu{
        display: none;
    }

    .navigation{
        display: flex;
        justify-content: space-around;
    }

    .navigation li{
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
        padding: 1rem 1rem;
        transition: border-bottom 0.7s ease;
    }

    .navigation li:hover {
        transition: all 1s;
        background-color: #74b8ba;
    }

    .active{
        transition: 1s;
        background-color: black;
        color: white !important;
    }

    #main-hero-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        background-color: #A8DADC;
        height: 500px;
    }

    .hero-image-container{
        grid-column: 1/3;
        grid-row: 1/3;
        /* z-index: 2; */
    }

    #hero-box img {
        display: none;
    }

    .hero-caption{
        text-align: center;
        grid-column: 1/3;
        grid-row: 2/5;
        /* z-index: 5555555; */
    }

    .hero-caption h1{
        font-family: "Roboto";
        font-weight: 1000;
        font-size: 40px;
        opacity: 0;
        animation: fade-in 3s forwards linear;
    }

    .explore{
        font-size: 80px;
    }
    
    @keyframes fade-in {
        to {
            opacity:1;
        }
    }

    #forecast-container{
        margin: 4rem 0 2rem 2rem;
    }

    #black-background-second-container{
        display: block;
        margin:2rem auto;
        padding: 0;
    }

    #second-section{
        display: flex;
        flex-direction: column;
    }

    .slideshow-container{
        display: block;
    }
    
    .slideshow-container{
        text-align: center;
        width: 100%;
    }

    .mySlides img{
        margin: 3rem 0;
        width: 90%;
        border-radius: 3px;
        object-fit: cover;    
    }

    .article-container{
        text-align: center;
        margin: 2rem auto;
    }

    .article-container article h1{
        margin: auto 1.5rem;
        padding: 0;
        font-size: 70px;
        animation: switch 5s infinite linear;
    }

    .article-container article p{
        font-size: 30px;
        width: 80%;
        animation: switch 2s infinite;
    }

    .homepage-scooters-row{
        width: 100%;
    }

    .homepage-scooters-column {
        flex: 50%;
        max-width: 50%;
        padding: 1rem;
    }

    .homepage-scooters-column:last-of-type{
        display: flex;
        flex: 100%;
        max-width: 100%;
        margin: 1rem;
    }
    
    .images-container{
        box-shadow: 1px 1px 5px black;
        overflow: hidden;
        height: 400px;
        margin: 2rem 0;
        position: relative;
    }

    .images-container img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        justify-self: center;
    }

    .text *{
        margin: auto 30px;
    }

    .text h1{
        font-size: 40px;
        font-weight: 700;
    }

    .text h3{
        font-size: 30px;
        font-weight: 400;
    }
    
    .text ul{
        padding: 0;
    }

    .text ul li{
        font-weight: 200;
        margin: 10px;
    }
    /*-----------------------------------------RESERVATION-----------------------------------------------*/

    .spacer {
        margin: 10rem 0 0 5rem;
    }

    .spacer p{
        font-size: 15px;
    }

    .spacer h1{
        font-family: "Roboto";
        font-weight: 1900;
        font-size: 40px;
        line-height: 1.2;
        text-align: left;;
        position: relative;
        transform: translateX(-100%);
        animation: slideRight 2s forwards linear;
    }

    .black{
        display: none;
    }

    .red{
        width: 20%;
        background-color: #b1343e;
        z-index: -1;
    }

    .benefits-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }

    .benefits-text li{
        font-size: 1.125rem;
    }

    .benefits-text ul{
        margin: 2rem 0;
    }

    .wf1 fieldset{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        padding: 2rem 0 3rem 0;
        background-color: white;
        border: none;
        border-radius: 60px;
    }

    .wf1 h1{
        text-align: center;
    }

    .wf1 label{
        width: 100%;
        padding: 1rem 3rem;
        font-size: 1rem;
    }
    
    .wf1 input[type="text"],
    .wf1 input[type="tel"],
    .wf1 input[type="email"],
    .wf1 input[type="number"],
    .wf1 input[type="date"],
    .wf1 select
    {
        width: 100%;
        background-color: #eee;
        display: block;
        border: 1px solid #999;
        border-radius: 10px;
        padding: .75rem;
        color: #555;
        appearance: none;
    }

    /*------------------------FORMS-------------------------*/

  

    textarea{
        width: 350px;
    }

    #right-side{
        width: 90%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #right-side section{
        width: 90%;
        border-radius: 6px;
        margin: 2rem 1rem;
        padding: 1rem;
        box-shadow: 2px 2px 6px 1px inset rgb(74, 73, 73) ;
        font-size: larger;
    }


  
    ul.list li{
        text-align: left;
        padding: 5px;
        line-height: 1.5;
        margin: auto;
        word-break: keep-all;
    }

 



}