@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@200;400&display=swap');

body, html {
    margin: 0 auto;
    height: auto;
    font-family: 'Belanosima';

}

header img {
    width: 100px;
    border-radius: 5%;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px #777;
    justify-self: end;
}

header {
    display: grid;
    grid-template: auto / auto auto;
    padding: 20px;
    background-color: #01131E;
    place-items: center;
}

header h1{
    position: relative;
    color: white;
    right: 60px;
    margin: 0;
}

nav {
    position: relative;
    bottom: auto;
    background-color: #000000;
}

nav a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    font-family: 'Belanosima', Times, serif;
    font-weight: lighter;
    font-size: 30px;
    padding: 10px;
}

nav a:hover{
    background-color: white;
    color: black;
    opacity: .5;
}

main {
    text-align: center;
}

.word {
    width: 90%;
    border-bottom: 2px solid #9f9f9f;
    margin: auto;
    margin-top: 40px;
    font-weight: lighter;
}

.card{
    margin: 25px auto;
    width: 90%;
    border: 2px solid #9f9f9f;
    border-radius: 5px;
}

.card h3{
    color: white;
    margin-top: auto;
    padding: 20px 0;
    background-color: #01131E;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer {
    height: auto;
    text-align: center;
    padding: 20px;
    background-color: #01131E;
}

footer  p{
    color: white;
}

@media screen and (max-width: 900px) {

    header h1{
        position: relative;
        font-size: 25px;
        right: 0;
    }

}